@charset "UTF-8";
/* CSS Document */


nav{
	font-family:Lucida Grande;
	font-size: 1em;
	width: 100%;
	height: 100%;
	float:left;
	background-color:none;
	text-align: left;
	margin: -20px 50px 5px 5px;

}


#skip-to-content{
	text-transform: uppercase;
    float:left;
	position:absolute; 
	left:-999px;
	background-color:#F0F7F4;

}


nav ul li {
	float: left;
	color: #807A88;
	margin: 20px;
	text-align: left;
	padding-top: 0px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #807A88;
	text-decoration: none;
}
ul li:hover a {
	color: #DD9787;
}

.ctsection{
	font-family: Khmer MN;
	color:#75869A;
	
}
.contactpic{
	max-width:100%;
	float:left;
	margin:15px 40px 100px 20px;
}
	
.container1 h1 p a{
  	text-align: center;
/*	float:right;*/
/*	align-content: center;*/
	margin: 30px 50px 30px 50px;
	padding: 0px;
/*	vertical-align: middle;*/
	
}
.container1 p{
/*	align: center;*/
	font-size: 1.2em;
	
}
.textcenter {
	text-align: center;
	align-content: center;
	margin: 30px 20px 20px 20px;
}



/*
.ctsection{
	display:flex;
	clear:both;
	justify-content: center;
	align-content:center;
	padding:0px 0px 0px 10px;
	
}
*/
/*
.container{
	flex:2;
	order:2;
	flex-wrap:wrap;
	font-family: Khmer MN;
	color:#75869A;
	align:center;
	justify-content: center;
}
*/
/*	dispaly: inline-block;*/	
/*	vertical-align: middle;                      */


/*
.contactpic{
	width: 100%;
	height: auto;
	flex:1;
	order:1;
	padding:30px;
	margin: 10px;
	flex-shrink: 0;
}
*/

#Contact_Us{
  font-family: Khmer MN;
/*  background-color: transparent; */
  color: #75869A;
  font-size: 1.8em;
  text-align: center;
  border: thin;
  border-radius: 1em;
  display: inline-block;
  
}
	
body {font-family: Arial, Helvetica, sans-serif;	
}

* {box-sizing: border-box;}

#ctbody{
 	background:url("Site_media/Photos/mainphoto/backgroud.png");
	background-size: cover;
}

/*----------------------------contacts form below-------------------------------------*/

#bg {
	clear:both;
	background-image: url("Site_media/Photos/ctimage01.jpg");
	margin: 0px 20px 0px 20px;
	
}
.contactheader {
	color:white;
	font-size: 6em;
	font-family: Skia,"Skia Bold";
	
}
.colorchanges{
	font-family:Skia, "Skia Bold"; 
	color:white;
	font-size: 6em;
	Float:right;
	font-weight: bold;
	margin:-180px 0px -1000px 0px;
}
.clear2{
	clear:both;
}
.container{
	 font-family:Khmer MN; 
	 font-size: 1.2em;
	 border-radius: 0.5em;
     padding: 0px 50px 0px 50px;
	color: #646069;
}



	

.submitbt{
	font-family:Khmer MN; 
	font-weight: bold;
	border-radius: 4px;
  	display: table;
  	clear: both;
}
#time{
	background-color:transparent;
	color:#646069;
	
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

input[type=submit] {
  background-color:transparent;
	font-family:Khmer MN; 
  color: #646069;
  font-size: 1.1em;
	font-weight: bold;
  padding: 10px 0px -40px 0px;
  border-color: #646069;
  border-radius: 4px;
  cursor: pointer;
	text-transform: uppercase;
	
	
}

input[type=submit]:hover {
    background-color:transparent;
	color: white;
}

input{
	wifth:100px;
}
input
{
    background: transparent;
    border: none;
}

textarea{
    background: transparent;
    border: none;
	display: block;
	font-family: Lucida Grande;
	font-size: 0.8em;

}
#fname{
	font-family: Lucida Grande;
	font-size: 0.8em;
}
#email{
	font-family: Lucida Grande;
	font-size: 0.8em;
}
#time{
	font-family: Lucida Grande;
	font-size: 0.8em;
}
.clear2{
	font-family: Khmer MN; 
	text-align: center;
	color: #646069;
	font-size: 1.2em;
	padding:10px 0px  0px 0px;
}
.clear2 a:link{
	color: #646069;
	 cursor: pointer;
  background-color: transparent;
  text-decoration: none;
	
}
.clear2 a:hover {
  color: #E4BB97;
  background-color: transparent;
}

footer {
font-family: Khmer MN; 
  text-align: center;
	color: white;
	text-decoration: none;
	background-color: #FEF5EF;
	margin: 20px;
	
}
.footerheader a:link{
	margin: -20px;
	color: #646069;
	 cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}
.footerheader a:hover{
	color: #E4BB97;
  background-color: transparent;
}
.emailme {
	font-family: Khmer MN; 
  text-align: center;
	color: white;
	text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.emailme a{
	color:#646069;
}
.copyright{
	text-align: center;
	font-family: Khmer MN; 
	background-color: #FEF5EF;
	color:#646069;
	margin: -20px 20px 0px 20px;
}

label span { color: white; }

.container2 .homepic{
  text-align: center;
  color: white;
}

.top-left{
margin-left: 20px;
	color:#646069;
	font-family:Lucida Grande; 
	font-weight: bold;
	font-size: 1em;
	
}
.together{
	position: relative;
	margin-bottom: 0.1em;
}
.homepic{
	display: block;
	width: 80%;
    height: auto;
	align-content: center;
	margin-left: auto;
  	margin-right: auto;
/*	margin: 0px 20px 20px 23px;*/
}

.homeheader{
	/* margin: -55px 0px 0px 70px; */
	position: absolute;
	left: 1.3em;
	bottom: -2.1em;
	color: white;
	font-size: 8vw;
	font-family:Big Caslon;
	letter-spacing: 5px;
}
	
.lightcolor{
	/* margin:-5px 0px 50px 30px; */
	/* position: absolute; */
	color: #646069;
	font-size: 8vw;
	font-family:Big Caslon;
	letter-spacing: 5px;
	
}

@media only screen and (min-width:1000px) {

	.together {
		margin-bottom: 5.5em;
	}
/*
	.container2 {
		margin-bottom: 1em;
	}
*/
}

/*small tablet02*/
/* @media only screen and (min-width:730px) {
	
	.together{
		width:100%;
		position: relative;
}
	 */


/*small tablet01*/
/*@media only screen and (max-width:914px) {*/
/*
	.homepic{
		width:90%;
		display: block;
  margin-left: auto;
  margin-right: auto;
	
	}
	.F{
		display:None;
	}
	
}
*/

/*
@media only screen and (min-width: 915px) {
	.homepic{
		width:70%;
		height: auto;
		align-items: center;
		display: block;
  margin-left: auto;
  margin-right: auto;
	}
	.homeheader{
	margin:100px;
	color: white;
	font-size: 8vw;
	font-family:Big Caslon;
	letter-spacing: 2px;
}
	
}
*/


.welcome{
	margin: 25px;
	font-family:Lucida Grande; 
	font-size: 0.8em;
	color: #646069;
	clear: both;
	margin-top: 5em;
}
.intro{
	margin: 20px;
	font-family: Khmer MN;
	color:#39373C;
	clear: both;
}
.intro h2{
	font-size: 2em;
	margin-bottom: -5px;

}
.features{
	font-family: Khmer MN;
	color:#39373C;
	margin: 20px;
}
.featureHead{
	font-size: 1.8em;
}

/*View-------------*/

#vwbody{ font-family: Khmer MN;
  color: #75869A;
	
}
.ct1, .ct2, .ct3, .ct4{
	position:relative;
	justify-content: space-between;
	align-items: center;
	display: inline-flex;
    vertical-align: top;
	margin:2em;
	margin-bottom: 0em;
/*	background: yellow;*/
	flex-direction: row;
}
.homepic2 ,.homepic3 ,.homepic4, .homepic5, .homepic6, .homepic7, .planske{
	width: 100%;
  	height: auto;
/*	margin: 5px 25px 10px 20px;*/
/*    width : auto;*/
    flex: 1;
	
}

	
.interctR{
	font-family: Khmer MN;
  color: #75869A;
	flex:1;
	
	
	
/*	background: #809999;*/
	
}
.intro, .exintro{
	margin: 10px 0px;
	color:#646069;
}

h1.viewhead{
	font-size: 2em;
	align-items: center;
	letter-spacing: 4px;
	line-height:1em;
}

.viewhead1, .viewhead2, .viewhead3, .viewhead{
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 10px;
	
}

div.intro{
	margin-right: 50px;

}
@media screen and  (max-width: 768px){
	.ct1, .ct2, .ct3, .ct4{
		flex-direction: column;
	}
	
	.image01, .image02{
		width: 100%;
  		height: auto;
		
	
		
}
	.planske{
		
	}
		
}
@media screen and  (min-width: 768px){
	.ct1, .ct2, .ct3, .ct4{
		margin-bottom: 5px;
	}
	.image01, .image02{
		flex-direction:row;
	max-width: 50%;
	}
	.homepic7, .planske{
		height: auto;
		max-width: 100%;
		position:relative;
		margin-left: auto;
  		margin-right: auto;
		
		
	}
/*
	.planske{
		width: 80%;
	}
	*/.viewhead3{
		text-align: center;
		margin-top: 1em;
	}
	.ct4{
		align-items:center;
		display: block;
	width: 80%;
    height: auto;
	margin-left: auto;
  	margin-right: auto;
	}
	
		
/*
	.ct1 h2, .ct2 h2 {
		
	}
	
*/
		
}

